
.App{
  /* background-image: url('/Users/deboshreedas/Sites3.0/poll-widget/src/assets/image.png'); */
  background-size: cover; 
  /* background-position: 'center';  */
  min-height: 100vh;
  height:auto;
}
