/* nav {
    background-color: #007bff; 
    padding: 10px;
    width: 100%; 
  } */

  nav {
    background-color: #007bff; 
    padding: 10px 0;
    width: 100%; 
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Align it to the top */
    z-index: 1000; /* Ensure it stays above other content */
}
  
  .navbar {
    margin: 0;
    width: 100%; 
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  