.poll {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #e9f7fe; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; 
}

.poll:hover {
  background-color: #d4edda; 
}

.results {
  margin-top: 20px;
}

.results div {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.results div:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.poll-options {
  list-style-type: none; 
  padding: 0;           
  margin: 0;            
}

.progress-bar {
  width: 100%;
  background-color: #c02323; 
  border-radius: 5px;
  margin-top: 5px;
}

.progress {
  height: 20px; 
  background-color: #76c7c0; 
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .poll {
    padding: 15px; 
  }

  .results div {
    padding: 8px; 
  }
}




/* .poll {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .results {
    margin-top: 20px;
  }
  
  .results div {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
  }
   */