// Variables
$primary-color: #007bff;
$light-background: #f9f9f9;
$hover-color: #d4edda;
$shadow-color: rgba(0, 0, 0, 0.1);
$progress-color: #76c7c0;
$border-color: #ddd;

$padding: 20px;
$margin: 10px;
$border-radius: 8px;
$transition-duration: 0.3s;

// Poll Styles
.poll {
  border: 1px solid $border-color;
  padding: $padding;
  margin-bottom: $margin * 2;
  border-radius: $border-radius;
  background-color: #e9f7fe;
  box-shadow: 0 2px 5px $shadow-color;
  transition: background-color $transition-duration ease-in-out;

  &:hover {
    background-color: $hover-color;
  }
}

.poll-options {
  list-style-type: none;
  padding: 0;
  margin: $margin;
}

.poll-option {
  margin-bottom: 15px;
}

// Progress Bar Styles replaced with bootstrap classes

// PollView Styles
.poll-container-xxx {
  width: 100%;
  min-width: 600px;
  max-width: 600px;
  margin: $margin * 2;
  padding: $padding;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  background-color: $light-background;
  box-shadow: 0 2px 10px $shadow-color;
  transition: transform $transition-duration ease;
  display: flex;
  flex-direction: column;
  min-height: 150px;

  &:hover {
    transform: scale(1.05);
  }
}
.poll-container {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  width: 100%;
  max-width: 800px; 
  margin: 20px auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 100px); 
  overflow-y: auto; 
}
.poll-option {
  margin-bottom: 10px;
}
.poll-options {
  flex-grow: 1; 
  overflow-y: auto; 
}






//pagination

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 10px 0; 
  padding: 5px; 
}

.pagination-button {
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px; 
  margin: 0 3px;    
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: adjust-color($primary-color, $lightness: -10%);
  }

  &:disabled {
    background-color: #ccc; 
    cursor: not-allowed;   
  }
}

// Add Poll Styles
.add-poll-container {
  margin: 50px auto;
  padding: $padding;
  max-width: 600px;
  text-align: center;
  background-color: $light-background;
  border-radius: $border-radius;
  box-shadow: 0px 4px 8px $shadow-color;

  h2 {
    margin-bottom: 20px;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: $primary-color;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: adjust-color($primary-color, $lightness: -10%);
    }
  }
}

// Responsive Styles
@media (max-width: 768px) {
  .poll,
  .poll-container,
  .add-poll-container {
    padding: 15px;
    margin: $margin;
  }

  .poll-option {
    margin-bottom: 10px;
  }

  .progress {
    height: 15px;
  }

  h2 {
    font-size: 24px;
  }

  button {
    width: 100%;
  }
}
// Responsive Styles
@media (max-width: 768px) {
  .poll-container {
    padding: 15px;
    margin: $margin;
    min-height: 200px;
  }

  .poll-option {
    margin-bottom: 10px;
  }

  .poll-option label {
    font-size: 16px;
  }

  .progress-bar {
    height: 15px;
  }

  h2 {
    font-size: 24px;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .poll-container {
    padding: 10px;
    min-height: 250px;

    .poll-option label {
      font-size: 14px;
    }

    h2 {
      font-size: 20px;
    }
  }
}
